<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1">
			<h1>動画情報編集<%= link_to "削除する",article_path(@article.id),method: :delete, class:"btn btn-danger",:style => "color: white;" %></h1>
		</div>

<%= render 'form', article: @article %>

	</div>
</div>