<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-2">
			<h1>フォローされているのユーザー</h1>
		</div>
		<div class="col-xs-5 col-xs-offset-3">
			<% @user.followers.each do |user| %>
			<table class="table">
				<tr class="active">
					<td ><%= attachment_image_tag(user, :user_image, format: 'jpeg', class: "img-circle pull-left follows", fallback: "no_image.jpg", size:"40x40") %>
						<font size="3"><%= user.name %></font></td>
						<td width="50px"><%= link_to '詳細', user_path(user) %></td>
					</tr>
				</table>
				<% end %>
			</div>
		</div>
</div>