// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.introduction{
	padding-left:120px;
}

.user_article{
	padding-top: 47px;
}

.stats{
	padding-top: 7px;
	padding-left: 10px;
}

.follows{
	padding-top: 20px;
}

.follows{
	padding: 5px;
}